body {
  background: transparent;
}

.content {
  overflow: visible;
  position: relative;
  width: auto;
  margin-left: 0;
  min-height: auto;
  padding: inherit;
}

.editor {
  margin-left: 50px;
  margin-right: 50px;
}

.bigheading {
  font-size: 36px !important;
  color: black !important;
}
